@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');
body {
    background-color: #f5f5f5; /* Soft background color for the whole page */
    font-family: "Raleway", sans-serif; /* Consistent font for readability */
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: start; /* Align items at the start to handle different heights gracefully */
    padding: 20px;
}

#gridForm{
    width: 85%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    padding: 25px;
    border-radius: 7.5px;
    background-color: #fefefe;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    font-weight: bolder;
}

.itemValue{
    margin-left: 10px;
}

.formContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
}

.gridContainer{
    flex: 2;
    display: grid; /* This will be dynamically adjusted in JavaScript */
    margin-top: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border: 1px solid #ccc;
    min-height: 100vh;
    background-color: #fafafa;
    justify-items: center;
    align-self: center;
    justify-content: space-evenly;
    align-content: space-evenly;
}

h1, h3, h4 {
    color: #333;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Form Section Styling */
.formHeading {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #333;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.formSection {
    padding: 15px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Input Styling */
input[type="number"], input[type="range"], select, input[type="color"], input[type="radio"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px 0;
}

input[type="radio"] {
    margin-right: 10px;
    cursor: pointer;
}

select {
    width: 100%;
    cursor: pointer;
}

/* Responsive Flex Layouts */
.numInput, .widthRange, .heightRange, .colorSelection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.numInput label, .itemDimensions label, .colorSelection label {
    flex-basis: 30%;
}

.numInput input, .itemDimensions input, .colorSelection input {
    max-width: 150px;
    flex-basis: 68%; /* Less than 70% to accommodate margins */
}

.colorSelection{
    margin-top: 10px;
}

/* Button Styling */
button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#submitGridFormBtn {
    width: 30%;
    margin-top: 25px;
    margin-bottom: 25px; 
    padding: 12px 20px;  
    font-weight: bold; 
    font-size: 16px; 
    color: white; 
    border-radius: 10px; 
    text-shadow: 0px 0px 5px rgba(0,0,0,0.2);
    background-color: rgb(30, 206, 30);  
    border: none; 
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1); 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s;  
}

#submitGridFormBtn:hover, #submitGridFormBtn:focus {
    background-color: rgb(25, 175, 25);  /* Slightly darker on hover/focus for feedback */
    outline: none;  /* Remove focus outline */
}

#submitGridFormBtn:active {
    transform: translateY(1px);  /* Subtle push effect when clicked */
    box-shadow: 1px 1px 2px rgba(0,0,0,0.2);  /* Deeper shadow to mimic pressing down */
}

/* Utility Classes */
.dimLimit, .colorHex {
    font-family: monospace;
    font-size: 0.9rem;
}


.numColorsRange{
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#minColors{
    margin-right: 15px;
}
#maxColors{
    margin-left: 15px;
}

.equalDimensions article{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.sliderVal{
    font-size: 13px;
}

.numInput.gap{
    display: flex;
    border-bottom: 12.5px;
    align-items: center;
}

.itemDimensions{
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}

.gridItemSizing{
    margin-bottom: 8.5px;
}

.itemValue.uniform{
    padding: 12px;
    border-radius: 3.5px;
    box-shadow:1px 1px 5px rgba(0,0,0,0.05);
    margin: 5px;
}

.equalDimContainer h4 {
   text-align: center;
   color: #333;
   font-size: 16px;
   margin-bottom: 10px;
}

.equalDimContainer{
    width: 75%;
}

/* Styling for the min and max labels on either side of the sliders */
.minWidth, .maxWidth, .minHeight, .maxHeight, .boundaryWidth, .boundaryHeight {
    text-align: center;
}

.dim {
    font-size: 15px;
    font-style: italic;
    color: #666;
    text-align: center;
    margin-top: 15px;
}

input[type='range']{
    max-width: 120px;
}

.flexSlider{
    display: flex;
    justify-content: space-between;
    align-items: center;
}